<app-logo *ngIf="!isAdmin" [title]="'Cocktails'"></app-logo>

<div class="row-new-cocktail" *ngIf="isAdmin">
  <button type="submit" (click)="newCocktail($event)">New Cocktail</button>
</div>

<ul class="cocktails">
  <li (click)="selectCocktail(i)" *ngFor="let i of list" class="cocktails__item">
    <div class="cocktail-name">
      <div class="name">{{i.name}}</div>
      <div class="cocktail-name-buttons" *ngIf="isAdmin">
        <button class="btn-save" type="submit" (click)="editCocktail($event, i)">Edit</button>
        <button class="btn-save delete" type="submit" (click)="deleteCocktail($event, i)">
          <mat-icon aria-hidden="false" aria-label="Delete">clear</mat-icon>
        </button>
      </div>
    </div>
    <ul class="components">
      <li *ngFor="let component of i.components">
        {{component.drink.name}} - {{component.amount}}
      </li>
    </ul>
  </li>
</ul>
