.row-new-cocktail {
  margin: 0 20px 20px;
}

.cocktails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;

  &__item {
    min-width: 350px;
    width: 60%;
    padding: 5%;
    margin: 3% 0;
    background: rgba(255, 255, 255, .6);
    list-style: none;
    cursor: pointer;
    font-size: 20px;

    .cocktail-name {
      display: flex;
      justify-content: space-between;
    }

    ul {
      list-style: none;
      margin-left: 30px;
      font-size: 17px;
    }
    .delete mat-icon {
      width: 20px;
      height: 20px;
      font-size: 22px;
      vertical-align: sub;
    }
  }
}

@media (min-width: 800px) {
  .cocktails {
    justify-content: space-between;

    &__item {
      width: 25%;
      padding: 4% 2%;
    }
  }
}

