<div class="section">
  <div class="row">
    <h2>
      Drink
      <button class="btn-save" (click)="save()">Save</button>
    </h2>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="drink.name">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Capacity</mat-label>
      <input matInput type="number" [(ngModel)]="drink.capacity" min="0" max="1000">
    </mat-form-field>
  </div>
</div>
