.drink {
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(255,255,255,0.4);

  .drink-column {
    margin: 0 25px 0 0;
  }
}

.list {
  margin: 10px;
}

.buttons {
  button {
    margin: 0 15px 15px;
  }

  .delete mat-icon {
    width: 20px;
    height: 20px;
    font-size: 22px;
    vertical-align: sub;
  }
}

@media (min-width: 720px) {
  .drink {
    display: flex;
    padding: 20px 20px 0;
  }
}
