<div class="section">
  <div class="row">
    <h2>
      Cocktail
      <button class="btn-save" (click)="save()">Save</button>
    </h2>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" [(ngModel)]="cocktail.name" minlength="1">
    </mat-form-field>
  </div>

  <div class="row">
    <h3>Drinks</h3>
  </div>

  <ul class="list">
    <li class="list__item" *ngFor="let c of cocktail.components;index as i;">
      <div class="row drink">
        <mat-form-field class="drink-column">
          <mat-label>Drink</mat-label>
          <mat-select [(value)]="c.drink">
            <mat-option *ngFor="let option of drinks" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-select>

        </mat-form-field>
        <div class="drink-column">
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput type="text" [(ngModel)]="c.amount" min="0" max="300">
          </mat-form-field>
        </div>

        <div class="buttons">
          <button *ngIf="isCanUp(c, i)" (click)="up(c, i)">Up</button>
          <button *ngIf="isCanDown(c, i)" (click)="down(c, i)">Down</button>
          <button class="delete" type="submit" (click)="delete(c, i)">Delete</button>
        </div>
      </div>
    </li>
  </ul>

  <div class="row">
    <button (click)="addDrink()">Add Drink</button>
  </div>
</div>
